/* ==== Body =====*/
* {
  box-sizing: border-box
}


html, body, #root {
  margin: 0;
  background-color: #111827;
  color: white;
  font-family: 'Inter', sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
/* ==== */

/*  =====   Header & Menu ======*/

.header {
  background-color: #020617;
  width: 100%;
  padding-bottom: 2vh;

}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
}

.header-title {
  display: flex;
}

.landscaping-logo {
  margin-top: 1.5vh;
  margin-left: 2vh;

  width: 5vw;
  height: 5vw;
  fill: white;
}

h1 {
  white-space: nowrap;
  text-align: center;
  font-size: clamp(3vh, 3vw, 3.3rem);
}
h2, h3 {
  color: #d1d5db;
  text-align: center;
}
h2 {
  font-size: clamp(.9rem, 1.6vw, 1.6rem);
}

.underline {
  width: 50%;
  height: .1rem;
  background-color: rgba(255, 253, 253, 0.548);
}

.navbar {
  margin-top: .3rem;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.navbar-buttons {
  margin: 0;
  color: rgba(255, 255, 255, 0.575);
  text-decoration: none;
  margin-right: clamp(0.1rem, 4vw, 5rem);
  margin-left: clamp(0.1rem, 4vw, 5rem);
  border-radius: 10px;
  padding: .2rem .5rem .2rem .5rem;
  transition: .25s;
  font-size: clamp(0.7rem, 1vw, 1.6rem);
}
.navbar-buttons:hover {
  background-color: rgba(255, 255, 255, 0.212);  
  color: white;
}
.ironworks-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}
.ironworks-button:hover .navbar-buttons, .ironworks-button:hover .anvil-hammer {
  background-color: rgba(255, 255, 255, 0.082);  
  color: white;
}
.ironworks-button:hover {
  background-color: rgba(22, 0, 0, 0);
}
.anvil-hammer {
  width: 4vw;
  border-radius: 5px;
  transition: .25s;
}
/*  =====    ======*/





/* ========  Home Page/Image Slide Component  =======*/

.home {
  margin-top: 6vh;
}
.image-slide-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 5vh;
  padding: 0;
}
.image-slide-title {
  margin: 0;
  background-color: #020617;
  padding: 1.3rem;
  padding-bottom: .5rem;
  margin-bottom: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  cursor: pointer;
}

.image-slide {
  position: relative;
  overflow: hidden;
  width: 90%;
  border-radius: 20px;
  border:  #020617 solid .6rem;
  border-top:#020617 solid 1.4rem;
  cursor: pointer;
}

.image-slide-container:hover .image-slide-title, .image-slide-container:hover .image-slide {
  color: white;
  background-color: rgb(3, 7, 29);
  border-color: rgb(3, 7, 29);
}

.track {
  display: flex;
  width: max-content;
  animation: scroll 30s linear infinite;
}

.slide-img {
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 5px;
  width: 20vw;
  height: 40vh;
  margin-right: .5rem;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* ========    =======*/

/* ======== About ========*/
.about {
  display: flex;
  margin-top: 50px;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-text {
  width: 80%;
}
.portrait {
  width: 300px;
  height: 500px;
  border-radius: 10px;
  margin: 0px 20px 0px 20px;
  object-fit: cover;
}

/* ====== Multi Component ===== */
.backdrop {
  background-color: rgba(0, 0, 0, 0.559);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}
.selected-image {
    max-width: 90vw;
    max-height: 90vh;
    width: auto;
    height: auto;
    object-fit: contain;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}
/*=============================*/


/* ====== Iron Works Page ======*/
  .ironworks {
  }

  .ironworks-img-container {
     display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin-bottom: 100px;
  }
  .ironworks-img {
    width: 20vw;
    height: 17vw;
    border-radius: 5px;
    object-fit: cover;
    transition: transform 0.2s ease;
  }
  .ironworks-img:hover {
    transform: scale(1.03);
  }
/*==============================*/

/* ======== ========*/

@media (orientation: portrait) {
  /* == headers == */
  .underline {
    width: 90%;
  }
  .anvil-hammer {
    width: 6vh;
  }
  .landscaping-logo {
    width: 6vh;
    height: 6vh;
  }

  /* =====  =====*/
  /* == Home Page Mobile ===*/
  .slide-img {
    height: 20vh;
    width: 20vh;
  }
  /* ======  ======*/

  /* ===== Iron Works Mobile ====*/
  .ironworks-img {
    width: 20vh;
    height: 15vh;
  }
  /* ===========================*/
}
